.wrapper {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.firstbox {
  grid-column: 2/4;  
}

.title {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.title > h5{
  padding: 0px;
  margin: 0px;
}


.title > p {
  padding: 0px;
  margin: 0px;
}

.secondbox{
  grid-column: 3/5;
  grid-row: 2/3;
  justify-self: end; 
 
}

.secondbox > p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

.thirdbox {
  grid-column: 1/3;
  grid-row: 3/4;
  margin-bottom: 20px;
}

.thirdbox > p {
  display: flex;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  justify-content: flex-start;
}



.fourthbox  {
  grid-column: 1/5;
  grid-row: 4/5;
}

.table{
  display: table;
  width:100%;
  border-collapse:collapse;
}
  .tablerow{
    display: table-row;
  }
    .tablecell, .tablehead{
      display: table-cell;
      padding: 1em;
      border:#f0f0f0 1px solid;
      font-size: 12px;
    }
    .tablehead{
        font-weight:bold;
    }

.fifthbox {
  grid-column: 4/5;
  grid-row: 5/6;
  justify-self: start;  
  padding: 10px;
}

.fifthbox  > strong{
  font-size: 14px;
}

.sixthbox {
  grid-column: 1/3;
  grid-row: 6/7;
  justify-self: start;
}

.sixthbox > p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.collecting {
 display: flex; 
 justify-content: center;
}

